#chenjun
*.log
*.png

#OSX
*~
.DS_Store
*.DS_Store

#Grale
.gradle
#gradle
gradlew*
#*.gradle

#Android generated
bin
gen
out
*.class

#Eclipse
.project
.classpath
.settings
local.properties
gradle-wrapper.properties
lint.xml

#IntelliJ IDEA
.idea
*.iml
*.ipl
build
captures

#Maven
target
release.properties
pom.xml.*
/PrivateDoctor_Data_Lib/libs/mvn.txt
Consultation/res/layout/ac_chat_test.xml
Consultation/src/com/pingan/consultation/activity/ChatTestActivity.java
Consultation/src/com/pingan/consultation/justalk/CallActivity.java
Consultation/res/layout/ac_fragment_video.xml
imuicommon/src/com/pingan/im/ui/fragment/ChatFragment.java.rej
PrivateDoctor_Data_Lib/src/com/glide/
gradle/wrapper/gradle-wrapper.properties
/PrivateDoctor_Main/instant_build/

#react-native
node_modules/
npm-debug.log
*.js
yarn.lock